<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374273813302-hjld6mpo4vqr7cr2qc5dt3jbp2gnpral.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374273813302-hjld6mpo4vqr7cr2qc5dt3jbp2gnpral</string>
	<key>API_KEY</key>
	<string>AIzaSyBbj6gSU2u6XQTitgJMxxtY7Gt6Ly4WCcg</string>
	<key>GCM_SENDER_ID</key>
	<string>374273813302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LinkUp-TreeHacks</string>
	<key>PROJECT_ID</key>
	<string>linkup-304703</string>
	<key>STORAGE_BUCKET</key>
	<string>linkup-304703.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374273813302:ios:87fb175dc356c9aa972197</string>
	<key>DATABASE_URL</key>
	<string>https://linkup-304703-default-rtdb.firebaseio.com</string>
</dict>
</plist>